body {
	font-weight: 400;
	font-size: 20px;
	background-color:green;
}
#header {
	position: fixed;
	width: 100%;
	height: 120px;
	background-color: #FFFF00;
	z-index: 1;
	left: 0px;
	top: 0px;
	text-align: center;
}
#body {
	
	top: 150px;
	position: relative;	
	width: 70%;
	border: 2px solid #959494;
	border-radius: 10px;
	margin: auto;
	z-index: 0;
	background-color: #6699FF;
	box-shadow: 3px 3px 10px 5px #001212;
	text-align: center;
}
.headeritem {
	background-color: #66FF33;
	width: 20%;
	border: 2px solid black;
	border-radius: 5px;
	display: inline-block;
	margin: 1%;
}
.skillitem {
	background-color: #FF3300;
	width: 7%;
	height: 50px;
	border: 2px solid black;
	border-radius: 5px;
	display: inline-block;
	margin: 1%;
	opacity: 0.5;
}

