body {
	font-weight: 400;
	font-size: 20px;
	background-color:green;
}
#header {
	position: fixed;
	width: 100%;
	background-color: #FFFF00;
	z-index: 1;
	left: 0px;
	top: 0px;
	text-align: center;
	padding: 10px 10px 10px 10px;
}
#body {
	
	top: 190px;
	position: relative;	
	width: 70%;
	border: 2px solid #959494;
	border-radius: 10px;
	margin: auto;
	z-index: 0;
	background-color: #6699FF;
	box-shadow: 3px 3px 10px 5px #001212;
	text-align: center;
}
#descriptionBarDiv {
	width: 90%;
	background-color: #959494;
	margin: auto;
	margin-top: 5px;
	position: relative;
}
#descriptionSpan{
	text-align: center;
}
#requirementSpan{
	text-align: center;
}
.headeritem {
	background-color: #66FF33;
	width: 20%;
	border: 2px solid black;
	border-radius: 5px;
	display: inline-block;
	margin: 1%;
	height: 45px;
	padding: 10px 10px 10px 10px;
}
.skillitem {
	background-color: #FF3300;
	width: 9%;
	border: 2px solid black;
	border-radius: 5px;
	display: inline-block;
	margin: 1%;
	opacity: 0.5;
	position: relative;
}
.skillitem span {
	font-size: 0.75em;
}
.skillitem.selected {
	opacity: 1;
}
.skillitem.hover {
	opacity: 1;
}
.transition{
	-webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}
.error {
	box-shadow: inset 0px 0px 10px 10px red;
}
.levelrequirementdiv {
	opacity: 0.7;
	border: 1px solid black;
	border-radius: 2px;
	width: 25%;
	height: 25%;
	background-color: red;
	position: absolute;
	bottom: 0;
	left: 0;
	font-size: 0.6em;
}
.engramrequirementdiv {
	opacity: 0.7;
	border-radius: 2px;
	width: 25%;
	height: 25%;
	background-color: blue;
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 0.6em;
}
div > * {
	vertical-align: middle;
}

